.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999 !important;
}

.container-inner {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.container-inner img {
  border-radius: 10px;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.logo i {
  margin-bottom: 5px;
  cursor: pointer;
}

.info {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  border-radius: 2px;
  transition: all 0.5s;
  transform: translateX(290px);
  will-change: transform;
  display: none;
}

.trigger-enter + .info {
  display: block;
}

.trigger-enter-active + .info {
  opacity: 1;
}

.dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, translate 0.2s;
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  transform: translateY(300%) translateX(-840%) rotate(45deg);
}
